# --- Security & Credentials ---
.env
.aws/
credentials
*.pem
*.json

# --- Python & Environment ---
__pycache__/
*.py[cod]
venv/
.venv/
env/

# --- Local Data (Don't push huge CSVs/HTML) ---
data/raw/*.html
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# --- Docker ---
.dockerignore